body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Comic Sans' sans-serif;
            background-image: url(redbgwc.jpg);
            background-size: cover;
            background-repeat: none;
            backdrop-filter: blur(5px);
            color: #ffffff;
            margin: 0px;
            padding: 50px;
            text-align: center;
        }
            table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            tr {
            background-color: #430505;
            }

            td, th {
            border: 1px solid #dddddd;
            background-color: #904242;
            text-align: left;
            padding: 8px;
            }

        h3 {
            text-align: center;
            color: #fff;
            border-radius: 10px;
            
        }

    .form-group{
      background:#000000;
      background: linear-gradient(180deg,rgba(255, 248, 247, 0.91) 0%, rgba(84, 0, 0, 0.91) 50%, rgba(0, 0, 0, 0.91) 100%);
      padding: 30px;
      border-radius: 12px;
      width: 500px;
      margin: auto;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    label {
      display: block;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;
    }

    textarea {
      resize: vertical;
    }

    .checkbox-group,
    .radio-group {
      margin-top: 5px;
      display: inline-flex;
    }

    .checkbox-group label,
    .radio-group label {
      font-weight: normal;
      margin-right: 10px;
    }

    button {
      margin-top: 20px;
      background-color: #770404;
      color: white;
      padding: 12px;
      width: 50%;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }